*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    all: unset;
}
a:hover{
    cursor: pointer;
}
body{
    padding: 0 128px 128px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-image: url("images/backgroundImage.png");
}
.heroImage {
    background-image: url("images/heroImage.png");
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
}
.intro {
    background-image: url("images/intro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 600px;
    margin-top: 50px;
    width: 100%;
}
.concept {
    background-image: url("images/concept.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 852px;
    width: 100%;
}
.branschen{
    background-image: url("images/branschen.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 468px;
    width: 100%;
}

header{
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-sizing: border-box;
    padding: 16px 48px;
    display: flex;
    justify-content: center;
    gap: 64px;
    top: 50vh;
    font-weight: 600;
}
header a:hover{
    color: #745E92;
}

.about{
    background-color: white;
    width: 100%;
    padding: 32px 0;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about .imagesContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 32px;
}
.about .imagesContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about .imagesContainer div img {
    width: 200px;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%;
}
.about .imagesContainer div p{
    width: 150px;
    text-align: center;
}

.test{
    padding: 32px;
    background-color: #EFF7FC;
    border-radius: 10px;
    height: 100vh;
    width: 100%;
}
.one{
    background-color: #D6E3EB;
}
.banner{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #C2B1E3, white);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 32px;
    color: white;
    font-size: 32px;
}
.imageViewer{
    background-color: white;
    width: 100%;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    gap: 16px;
}
.imageViewer p{
    font-size: 24px;
    font-weight: bold;
}
.displayedImage{
    height: 600px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.buttonContainer .imageButton{
    all: unset;
    padding: 16px 64px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #A699B8;
    color: white;
    transition: .2s ease;
}
.buttonContainer .imageButton:hover{
    cursor: pointer;
    background-color: #50467E;
}
.buttonContainer .imageButton:active {
    background-color: #A699B8;
    box-shadow: inset 8px 8px 12px rgba(0, 0, 0, 0.7); 
}


.testOneVideo{
    width: 100%;
}
.testOneVideo img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.testTwo{
    padding: 32px 0;
    width: 100%;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.testTwo .testTwoImageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
